---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SysMan | {title}</title>
</head>
<body>
	<slot/>
</body>
</html>

<style>
	* {
		padding: 0;
		margin: 0;
	}

	:root {
		--bg: rgb(25, 27, 37);
		--fg: rgb(165, 160, 160);
	}

	body {
		background: var(--bg);
		color: var(--fg);
	}
</style>
